# .env
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db_name

# This is for the server to connect to db
DATABASE_URL=postgresql://postgres_username:password@localhost:5432/example

NODE_ENV=development

# Better Auth
BETTER_AUTH_SECRET=your_secret_key_here_min_32_characters
BETTER_AUTH_URL=http://localhost:3000

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Uploadthing
UPLOADTHING_TOKEN=YOUR_UPLOADTHING_TOKEN






