# Database
DATABASE_URL=postgres://postgres:password@localhost:5432/example

# Better Auth
BETTER_AUTH_SECRET=your_secret_key_here_min_32_characters
BETTER_AUTH_URL=http://localhost:3000

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Uploadthing
UPLOADTHING_TOKEN=YOUR_UPLOADTHING_TOKEN