# .env
# POSTGRES_USER=your_postgres_user
# POSTGRES_PASSWORD=your_postgres_password
# POSTGRES_DB=your_postgres_db_name

# This is for the server to connect to db
# DATABASE_URL=postgresql://postgres_username:password@localhost:5432/example

NODE_ENV=development

# Better Auth
BETTER_AUTH_SECRET=your_secret_key_here_min_32_characters
BETTER_AUTH_BASE_URL=http://localhost:3000

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Uploadthing
UPLOADTHING_TOKEN=YOUR_UPLOADTHING_TOKEN

# Seed
SEED_ADMIN_EMAIL=
SEED_ADMIN_NAME=
SEED_ADMIN_PASSWORD=

# -----------------------------------------------

# Recommended for most uses
DATABASE_URL=

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=

# Parameters for constructing your own connection string
PGHOST=
PGHOST_UNPOOLED=
PGUSER=
PGDATABASE=
PGPASSWORD=

# Parameters for Vercel Postgres Templates
POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_URL_NO_SSL=
POSTGRES_PRISMA_URL=